<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>InteriorDesign</title>

</head>

<body>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/top1.jpg" class="d-block w-100" alt="imagen 1">
      </div>
      <div class="carousel-item">
        <img src="/images/top2.jpg" class="d-block w-100" alt="imagen 2">
      </div>
      <div class="carousel-item">
        <img src="/images/top3.jpg" class="d-block w-100" alt="Imagen 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4">InteriorDesign - Transforma tu Espacio</h2>
        <p class="text-center">En InteriorDesign, entendemos que tu hogar es más que solo cuatro paredes y un techo. Es
          un
          espacio donde tu vida se desarrolla, donde tus recuerdos se crean y donde realmente puedes ser tú mismo.
          Nuestra misión es transformar esos espacios en algo especial y significativo para ti.
          personal. </p>
      </div>
    </div>
  </div>


<div class="fondo"> 

<div class="container my-5" id="miContenedor">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Tendencia en Diseño de Interiores</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each novedades}}
        <div class="col">
          <div class="card">
            <img src="{{imagen}}" class="card-img-top" alt="{{titulo}}" width="300" height="200">
            <div class="card-body">
              <h5 class="card-title" >{{titulo}}</h5>
              <p class="card-text">{{cuerpo}}</p>
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{id}}">
  Ver Más
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Visita nuestro canal de Youtube para ver lo ultimo de {{titulo}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <a href="https://www.youtube.com/@ElMuebleDecoracion" target="_blank"><button type="button" class="btn btn-primary">Visitar</button></a>
      </div>
    </div>
  </div>
</div>



              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

</div>

  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/images/Escri.jpg" alt="Imagen" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="index">Transforma tu Espacio</h2>
        <p>En DecoHogar, creemos que tu hogar es el reflejo de tu personalidad. Te ayudamos a crear espacios únicos y
          funcionales que se adapten a tus necesidades y gustos. Nuestros expertos en diseño de interiores están listos
          para transformar tu espacio en algo especial.</p>
        <button class="btn btn-primary"><a href="/chat" class="boton"> Asesoramiento</a></button>
      </div>
    </div>
  </div>

</body>

</html>